<html>
	<head>
		<link href="/css/styles.css" rel="stylesheet" />
	</head>
	<body>
        <header>
            <em><%= @twitter_content %></em>
            <div class="beta">Beta</div>
            <h1>kasthor.com</h1>
        </header>
        <div class="articles">
		<%= yield %>
        </div>
        <!--
        <div class="social">Git</div>
        <div class="social">Tw</div>
        <div class="social">Fb</div>
        -->
        <div class="navigator">
            <h1>Topics</h1>
            <ul>
                <li>Lorem</li>
                <li>ipsum</li>
                <li>dolor</li>
                <li>sit</li>
                <li>amet</li>
            </ul>
        </div>
        <footer>
            Copyleft 2010
        </footer>
	</body>
</html>
