<div class="article">
	<table border="0" class="list">
		<% @articles.each_with_index do | article, i | %>
			<tr>
				<td><a href="<%= article.id %>"><%= article.title %></a></td>
				<td><a href="<%= article.id %>/delete">delete</a></td>
			</tr>
		<% end %>
		<tr>
			<td></td>
			<td><a href="add">add</td>
		</tr>
	</table>
</div>
